@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("animations.css");

.paginacion {
    display: inline-block; /* Evita que los elementos se comporten como bloques */
    list-style-type: none; /* Quita los estilos de viñetas de la lista */
    padding: 0;
}

.paginacion nav {
    text-align: center;
    padding: 0;
    position: relative;
}

.paginacion li {
    display: inline-block; /* Mostrar elementos como bloques en línea */
    margin-right: 10px; /* Espacio entre elementos */
}

.paginaActual {
    color: #9d2348;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

.restoPaginas {
    color: #1a5c50;
    font-weight: bold;
}

.btnAction {
    background-size: cover; /* Para ajustar la imagen al tamaño del botón */
    width: 40px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    background-color: rgba(255, 255, 255, 0);
}

.btnAction:hover {
    animation: scale 1s;
}


.searchbox{
    position: relative;

    border-bottom: 2px solid #d3bf9a;
}

.searchbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    color: #8b8f91;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.searchbox ion-icon{
    position: absolute;
    right: 8px;
    color: #611230;
    font-size: 1.2em;
    top: 20px;
}


/*Tabla*/
.tablaActas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto; /* Añadir desplazamiento horizontal si el contenido es demasiado ancho */
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
}

.actasImg {
    width: 100px;
    height: 100px;
}


table.tablaActas {
    border-collapse: collapse;
    table-layout: fixed; /* Establecer el tamaño fijo de la tabla */
    width: 100%; /* Esto es importante para que la tabla se ajuste correctamente */
}

th, td{
    border: 1px solid #1a5c50;
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* Permitir salto de línea en palabras largas */
}

th {
    background-color: #d3bf9a;
    color: #9d2348;
}

tr:nth-child(even) {
    background-color: #FFF2EE;
}

tr {
    background-color: #ffe3d0;
    color: #1a5c50;
}

.lbl-info {
    display: none;
}


/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .paginacion {
        display: block;
        list-style-type: none;
        padding: 0;
    }

    .tablaActas table {
        width: 75%;
    }

    .tablaActas tr {
        display: flex;
        flex-direction: column;
        border: 3px solid #9d2449;
        padding: 1em;
        margin-bottom: 1em;
    }

    .tablaActas td {
        border: 0px solid red;
        padding: 8px;
        text-align: center;
        word-wrap: break-word;
    }

    .tablaActas thead {
        display: none;
    }

    .actasImg {
        width: 75px;
        height: 75px;
        display: block; /* Asegura que la imagen sea un bloque para poder aplicar márgenes automáticos */
        margin: auto; /* Centra la imagen horizontalmente dentro del td */
    }

    .btnAction {
        background-size: cover; /* Para ajustar la imagen al tamaño del botón */
        width: 35px; /* Ancho del botón */
        height: 35px; /* Alto del botón */
        border: none; /* Sin borde */
        cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
        background-color: rgba(255, 255, 255, 0);
    }

    .lbl-info {
        display: inline;
        font-weight: bold;
    }

}
  
/* Otra media query para pantallas aún más pequeñas */
@media screen and (max-width: 480px) {
    
   
}