section.tablaActas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2.tablaActas {
    font-size: 2.5em;
    color: #666c6c;
    text-align: center;
}

table.tablaActas {
    border-collapse: collapse;

}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}